$white: hsl(0, 0, 100%);

$mainColor: rgb(51, 71, 82);
$altColor: rgb(16, 202, 183);
$pColor: rgb(87, 87, 87);
$sectionColor: rgb(250, 250, 250);

$fontFamilyG: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
$fontFamilyMain: "Work Sans";
$fontFamily: $fontFamilyMain, $fontFamilyG;

$radius: 1.5rem;
